@import 'vendors/_bootstrap.scss';

@font-face{
	font-family: BebasNeue;
	src: url("../fonts/BebasNeue.otf");
}

@font-face{
	font-family: JosefinSlabBold;
	src: url("../fonts/JosefinSlab-Bold.ttf");
}

@font-face{
	font-family: JosefinSlabRegular;
	src: url("../fonts/JosefinSlab-Regular.ttf");
}

$head-foot-gradient: #000000, #282828;
$menu-btn-gradient: #000000, #151414;
$sec-2-gradient: #000000, #201f1f;

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:false){
	@if $inset{
		-webkit-box-shadow:inset $top $left $blur $spread $color;
		-moz-box-shadow:inset $top $left $blur $spread $color;
		box-shadow:inset $top $left $blur $spread $color;
	}@else{
		-webkit-box-shadow: $top $left $blur $spread $color;
		-moz-box-shadow: $top $left $blur $spread $color;
		box-shadow: $top $left $blur $spread $color;
	}
}

.header-container{
	background: -webkit-linear-gradient(180deg, $head-foot-gradient);
	background: linear-gradient(180deg, $head-foot-gradient);
	width: 100%;
	height: 115px;
}

.header-container-background{
	height: 115px;
	padding: 0;
}

.header-inner-left{
	height: 115px;
	width: 50%;
	margin: 0 auto;
	float: left;
}

.header-inner-left h1{
	font-family: BebasNeue;
	font-size: 55px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	margin-top: 30px;
}

.header-inner-right{
	height: 115px;
	width: 50%;
	display: inline-block;
	float: right;
	padding: 0;
	text-align: center;
}

.header-inner-right-btn{
	width: 25%;
	height: 115px;
	display: inline-block;
	background: -webkit-linear-gradient(0deg, $head-foot-gradient);
	background: linear-gradient(0deg, $head-foot-gradient);
	@include box-shadow(0px, 0px, 3px, 2px, black, false);
	cursor: pointer;
	opacity: 0.7;
}

.header-inner-right-btn:hover{
	opacity: 1;
}

.header-inner-right-btn h3{
	font-family: JosefinSlabRegular;
	font-size: 22px;
}

.btn-1{
	float: left;
	color: rgba(62, 189, 65, 0.7);
}

.btn-1:hover{
	color: rgba(62, 189, 65, 1);
}

.btn-2{
	color: rgba(33, 158, 229, 0.7);
}

.btn-2:hover{
	color: rgba(33, 158, 229, 1);
}

.btn-3{
	float: right;
	color: rgba(212, 210, 54, 0.7);;
}

.btn-3:hover{
	color: rgba(212, 210, 54, 1);
}

.hero-container{
	height: 450px;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	vertical-align: middle;
}

.hero-row{
	height: 450px;
}

.hero-left-container{
	width: 100%;
	height: 80%;
	margin-top: 10%;
	background: rgba(0, 0, 0, 0.76);
	border-radius: 20px;
}

.hero-left-container h2{
	font-family: Georgia;
	color: white;
	font-size: 25px;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 40px;
	text-align: justify;
	hyphens: auto;
}

.opsirnije-btn{
	font-family: JosefinSlabBold;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 2px 2px black;
	padding-left: 30px;
	padding-right: 30px;
	background: -webkit-linear-gradient(180deg, #323030, #0f0f0f);
	background: linear-gradient(180deg, #323030, #0f0f0f);
	@include box-shadow(0px, 0px, 1px, 0px, white, true);
	border: 1px solid rgba(255, 255, 255, 0.5);
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}

.opsirnije-btn:hover{
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 1);
	@include box-shadow(0px, 0px, 10px, 0px, black, true);
}

.hero-right-container{
	width: 100%;
	height: 80%;
	margin-top: 10%;
	position: relative;
}

.hero-right-container h2{
	font-family: JosefinSlabRegular;
	font-size: 30px;
	color: white;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.body-container{
	background: white;
	height: 2300px;
	@include box-shadow(0px, 0px, 20px, 5px, black, null);
	padding: 0;
}

.sec-main{
	height: 448px;
	margin-left: 0;
	margin-top: 10px;
	background-color: blue;
}

.sec-1-nsl, .sec-2-nsl{
	background-color: rgba(86, 148, 205, 0.76);
	margin-top: 15px;
}

.sec-3-nsl, .sec-5-nsl{
	background-color: rgba(133, 13, 13, 0.76);
	margin-top: 15px;
}

.sec-1-nsl h1, .sec-2-nsl h1, .sec-3-nsl h1, .sec-5-nsl h1{
	font-family: BebasNeue;
	font-size: 45px;
	letter-spacing: 7px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px black;
}

.sec2, .sec4, .sec5{
	background: -webkit-linear-gradient(0deg, $sec-2-gradient);
	background: linear-gradient(0deg, $sec-2-gradient);
	padding: 0;
}

.sec1{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sec1bg.jpg") no-repeat center center;
	object-fit: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding: 0;
	overflow: hidden;
}

.sec-1-row-left{
	width: 50%;
	height: 300px;
	margin-top: 25px;
}

.sec-1-row-left h2{
	font-family: JosefinSlabRegular;
	font-size: 35px;
	color: white;
	line-height: 45px;
	margin-left: 90px;
	margin-top: 20px;
}

.sec-1-row-right{
	width: 50%;
	height: 300px;
	margin-top: 25px;
}

.sec-1-row-right h2{
	font-family: JosefinSlabRegular;
	font-size: 35px;
	color: white;
	line-height: 45px;
	margin-left: 20px;
	margin-right: 70px;
	margin-top: 20px;
}

.video-btn{
	color: white);
	text-shadow: 2px 2px black;
	padding-left: 20px;
	padding-right: 20px;
	background: -webkit-linear-gradient(180deg, #074490, #033e60);
	background: linear-gradient(180deg, #074490, #033e60);
	@include box-shadow(0px, 0px, 1px, 0px, white, true);
	border: 1px solid rgba(255, 255, 255, 0.5);
	float: right;
	opacity: 0.7;
	margin-right: 100px;
	margin-top: 15px;
}

.video-btn h3{
	font-family: JosefinSlabBold;
	font-size: 20px;
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	margin-top: 2px;
}

.video-btn:hover{
	border: 1px solid rgba(255, 255, 255, 1);
	@include box-shadow(0px, 0px, 10px, 0px, black, true);
	opacity: 1;
}

.sec-2-col{
	margin: 0 auto;
	background: red;
}

.sec-2-col h2{
	color: white;
}

.sec3{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sec3bg.jpg") no-repeat center center;
	object-fit: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding: 0;
}

.sec-3-text{
	width: 100%;
	height: 300px;
	background-color: blue;
}

.footer-container{
	background: -webkit-linear-gradient(0deg, $head-foot-gradient);
	background: linear-gradient(0deg, $head-foot-gradient);
	width: 100%;
	height: 350px;
}

.footer-row{
	height: 300px;
}

.footer-left-container{
	width: 100%;
	height: 80%;
	border-radius: 20px;
}

.footer-left-container h1{
	font-family: BebasNeue;
	font-size: 40px;
	text-align: center;
	color: rgba(255, 0, 0, 0.75);
	text-shadow: 2px 2px black;
}

.footer-left-container h2{
	font-family: BebasNeue;
	font-size: 25px;
	color: white;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 15px;
}

.footer-right-container{
	width: 100%;
	height: 80%;
	border-radius: 20px;
}

.footer-right-container h1{
	font-family: BebasNeue;
	font-size: 40px;
	text-align: center;
	color: rgba(255, 0, 0, 0.75);
	text-shadow: 2px 2px black;
}

.footer-right-container h2{
	font-family: BebasNeue;
	font-size: 25px;
	color: white;
	margin-left: 50px;
	margin-top: 30px;
}

.footer-container h3{
	font-family: BebasNeue;
	font-size: 20px;
	color: white;
	text-align: center;
}